@import '../../styles/main.scss';

.product-list {
    z-index: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: $margin-big, $margin-mid;
    scroll-snap-type: x mandatory;
};