@import '../../styles/main.scss';

.landing {
    display: flex;
    flex-direction: column;

    .title {
        font-size: $huge-size;
        font-family: $title-font;
    }

    .subtitle {
        font-family: $paragraph-font;
        font-size: $middle-size;
    }

    .landing-title--small {
        font-family: $standart-size;
        font-family: $title-font;
    }

    p {
        text-align: justify;
        margin: 0 $margin-mid;
        font-family: $paragraph-font;
    }

    li {
        font-family: $paragraph-font;
    }

    .title + .subtitle {
        margin: 0;
    }
}

.landing--full-screen {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.sorting-controls {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

    .sorting-controls-title {
        font-family: $title-font;
        font-size: $standart-size;
        margin-left: $margin-mid;
    }

    .sorting-controls-button {
        margin: 0 $margin-small 0 $margin-small;
        cursor: pointer;
        padding: 3px 15px 3px 15px;
        border: 1px solid $complimentary-orange;
        border-radius: 15px;
        font-family: $title-font;
    }

    .sorting-controls-button--active {
        background: $complimentary-orange;
        color: $white;
    }
}
