@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap');

$title-font: 'Oswald', sans-serif;
$paragraph-font: 'EB Garamond', serif;

$standart-size: 1rem;
$middle-size: 2rem;
$huge-size: 4rem;

$price-size: 1.6rem;

h1, h2 {
    font: $title-font;
}

h3, h4, p {
    font: $paragraph-font;
}