@import '../../styles/main.scss';

.card-container {
  width: $card-width;
  height: $card-height;
  margin: $margin-card;
  background-size: cover;
  cursor: pointer;
  border-radius: 4px;
  
  -webkit-box-shadow: 0 0 2px #000;
        box-shadow: 0 0 2px #000;
}

.card-container > img {
  position: absolute;
  z-index: -1;
  width: $card-width;
  height: $card-height;
}
  
.card-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  background: $mid-grey;
  color: $white;
  opacity: 0;
  transition: all 0.5s;

  font-family: $paragraph-font;
  }
  
  
  .card-items {
    padding-left: 20px;
    letter-spacing: 2px;
  }
  
  .card-items-title {
    font-size: 1.5rem;
    line-height: 40px;
    font-family: $title-font;
    margin-left: $margin-small;

    transform: translateY(40px);
    transition: all 0.7s;
    hr {
      display: block;
      width: 0;
      
      border: none;
      border-bottom: solid 2px $white;
      
      position: absolute;
      bottom: 0; left:0;
      
      transition: all .5s;
    }
  }
  
  .card-items-price {
    margin-left: $margin-small;
    font-size: $price-size;
    line-height: 10px;
    font-weight: bold;  
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    .card-items-price--old {
      text-decoration: line-through;
      color: lighten(rgb(77, 77, 77),40%);
    }
  }
  
  .card-items-logo {
    font-size: $standart-size;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
    span {
        margin-left: $margin-small;
    }
  }
  
  .card-container:hover .card-overlay {
    opacity: 1;
    & .card-items-title {
      transform: translateY(0px);
    } & hr {
      width: 260px;
      transition-delay: 0.4s;
    } & .card-items-price {
      transform: translateY(0px);
      transition-delay: 0.3s;
      opacity: 1;
    } & .card-items-logo {
      transform: translateY(0px);
      transition-delay: 0.6s;
      opacity: 1;
    }
}
