@import '../../styles/main.scss';

.pagination-control {
    font-family: $title-font;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    display: block;
    margin: 2px;
    padding: 2px 8px 2px 8px;

    .container {
        cursor: pointer;
        background: $white;
    }

    .container:hover, .container:focus {
        background: $complimentary-orange;
        color: $white;
        border-radius: 2px;
        transition: .3s;
        padding: 2px 8px 2px 8px;
    }
    
    .current-page-container {
        background: $complimentary-orange;
        color: $white;
        border-radius: 2px;
        padding: 2px 8px 2px 8px;
    }
}